<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gszh.wis.quartz.dao.TaskJobStateDAO">

    <insert id="insert" parameterType="com.gszh.wis.quartz.model.TaskJobState">
        INSERT INTO task_job_state (
            job_name,
            job_group,
            fire_time,
            job_state
        )
        VALUES
            (
                #{jobName},
                #{jobGroup},
                #{fireTime},
                #{jobState}
            );
    </insert>

    <select id="getAll" resultType="com.gszh.wis.quartz.model.TaskJobState">
        select * from task_job_state
    </select>

    <select id="getStateCount" parameterType="com.gszh.wis.quartz.model.TaskJobState" resultType="int">
        select COUNT(*) from task_job_state where 1=1
        <if test="instanceNo !=null and instanceNo!=''">
            AND instance_no=#{instanceNo}
        </if>
        <if test="jobName !=null and jobName!=''">
            AND job_name=#{jobName}
        </if>
        <if test="jobGroup !=null and jobGroup!=''">
            AND job_group=#{jobGroup}
        </if>
        <if test="jobState !=null and jobState!=''">
        AND job_state=#{jobState}
        </if>
        <!-- 这里的 fireTime 和 recordTime 暂作传递参数使用 -->
        <if test="fireTime !=null and fireTime!=''">
            AND <![CDATA[
                        fire_time <= #{fireTime}
                 ]]>
        </if>
        <if test="recordTime !=null and recordTime!=''">
            AND <![CDATA[
                        fire_time > #{recordTime}
                 ]]>
        </if>
    </select>

</mapper>

