<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gszh.wis.tsp.dao.TaskJobStateHistoryDAO">

    <insert id="insert" parameterType="com.gszh.wis.tsp.model.TaskJobStateHistory">
        INSERT INTO task_job_state_history (
            instance_no,
            job_name,
            job_group,
            fire_time_long,
            job_state
        )
        VALUES
            (
                #{instanceNo},
                #{jobName},
                #{jobGroup},
                #{fireTimeLong},
                #{jobState}
            );
    </insert>

    <select id="getAll" resultType="com.gszh.wis.tsp.model.TaskJobStateHistory">
        select * from task_job_state_history
    </select>

    <select id="getStateHistoryCount" parameterType="com.gszh.wis.tsp.model.TaskJobStateHistory" resultType="int">
        select COUNT(*) from task_job_state_history where 1=1
        <if test="instanceNo !=null and instanceNo!=''">
            AND instance_no=#{instanceNo}
        </if>
        <if test="jobName !=null and jobName!=''">
            AND job_name=#{jobName}
        </if>
        <if test="jobGroup !=null and jobGroup!=''">
            AND job_group=#{jobGroup}
        </if>
        <if test="jobState !=null and jobState!=''">
        AND job_state=#{jobState}
        </if>
        <!-- 这里的 larger 和 smaller 作传递参数使用 -->
        <if test="larger !=null and larger>0">
            AND <![CDATA[
                        fire_time_long <= #{larger}
                 ]]>
        </if>
        <if test="smaller !=null and smaller>0">
            AND <![CDATA[
                        fire_time_long > #{smaller}
                 ]]>
        </if>
    </select>

    <select id="getStateHistory" parameterType="com.gszh.wis.tsp.model.TaskJobStateHistory" resultType="com.gszh.wis.tsp.model.TaskJobStateHistory">
        select * from task_job_state_history where 1=1
        <if test="instanceNo !=null and instanceNo!=''">
            AND instance_no=#{instanceNo}
        </if>
        <if test="jobName !=null and jobName!=''">
            AND job_name=#{jobName}
        </if>
        <if test="jobGroup !=null and jobGroup!=''">
            AND job_group=#{jobGroup}
        </if>
        <if test="jobState !=null and jobState!=''">
            AND job_state=#{jobState}
        </if>
        <!-- 这里的 larger 和 smaller 作传递参数使用 -->
        <if test="larger !=null and larger>0">
            AND <![CDATA[
                        fire_time_long <= #{larger}
                 ]]>
        </if>
        <if test="smaller !=null and smaller>0">
            AND <![CDATA[
                        fire_time_long > #{smaller}
                 ]]>
        </if>
    </select>

</mapper>

